name: Deploy Site

on:
  push:
    branches: [master]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno environment
        uses: denoland/setup-deno@v2
        with:
          deno-version: v1.x

      - name: Verify formatting
        run: deno fmt -c deno.json --check

      - name: Run linter
        run: deno lint -c deno.json
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:

      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Deno environment
        uses: denoland/setup-deno@v2
        with:
          deno-version: v1.x

      - name: Build site
        run: deno task release

      - name: "Deploy"
        uses: JamesIves/github-pages-deploy-action@v4.6.4
        with:
          branch: gh-pages
          folder: dist/release
